.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 17px;

    position: absolute;
    width: 303px;
    height: 28px;
    left: 529px;
    top: 24px;
    color: black;
}