.Rest {
    position: absolute;
    width: 518.41px;
    height: 494.83px;
    left: 122px;
    top: 108px;
}

.first {
    position: absolute;
    width: 550.52px;
    height: 108px;
    left: 122px;
    top: 191px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    /* or 123% */
    color: #2F281E;
}